<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Webshop - Gaming</title>
    <link href="{{ 'main.css' | asset_url }}" rel="stylesheet">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/41eab0f4ff.js"></script>
    {{ content_for_header }}
  </head>

  <body>
    {% section "header" %}

    <div class="layout">
      {{ content_for_layout }}
    </div>

    {% section "footer" %}

    <script defer src="{{ 'main.js' | asset_url }}"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script defer src="{{ 'gsap.js' | asset_url }}"></script>
  </body>
</html>
