{{ 'template-cart.css' | asset_url | stylesheet_tag }}
{{ 'cart-drawer.css' | asset_url | stylesheet_tag }}

<style>
  .container {
    flex-direction: column;
  }

  .cart-titel {
    margin-top: 10rem;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
  }

  .cart-con {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }

  .cart-con__items,
  .cart-con__check {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .cart-con__check-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 10px;

    background: #373737;
    border-radius: 25px;
  }
</style>

<div class="container">
  <div class="cart-con">
    <div class="cart-con__items">
      <h2 class="cart-titel">
        {{ 'cart.text.cart' | t: productsCount: cart.item_count }}
      </h2>

      {% for item in cart.items %}
        {% comment %} {% render 'product-card_cart', item: item %} {% endcomment %}
        {% render 'cart-drawer_item', item: item, forloop: forloop %}
      {% endfor %}
    </div>

    <div class="cart-con__check">
      <h2 class="cart-titel">Summary</h2>

      <div class="cart-con__check-out">
        <h3>
          <span>total price :</span>
          {{ cart.total_price | money_without_trailing_zeros }}
        </h3>

        <form
          action="/cart"
          class="cart-drawer__inner"
          method="post"
          novalidate
        >
          <button
            class="cart-submit-btn"
            name="checkout"
            type="submit"
          >
            Checkout
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Cart Main",
  "settings": []
}
{% endschema %}

{% comment %}
  <div class="container">

    <button class="btn-update">
      TEST KNAP !!!
    </button>

    <div class="cart-con" data-mka-test>
      {% if cart.item_count > 0 %}

        <h1>{{ "cart.text.cart" | t: productsCount: cart.item_count }}</h1>

        <form action="/cart"
          class="cart-all"
          method="post"
          novalidate>
          <!-- totalt price Liq -->
          {% assign saving = 0 %}

            {% for item in cart.items %}

            {% assign lineItemsavingTotal = 0 %}

            {% if item.variant.compare_at_price > item.variant.price %}
              {% assign savePrItem = item.variant.compare_at_price | minus: item.variant.price %}
              {% assign lineItemsavingTotal = savePrItem | times: item.quantity %}
            {% endif %}

            {% assign saving = saving | plus: lineItemsavingTotal %}
            <!-- liq -->

            <div class="cart-produkter">
              <!-- render product snippet - parse item to it -->
              {% render "cart-single-product" item: item %}

            {% endfor %}
          </div>

          <!-- skal laves om til JS i stedet -->
          <a href="/cart/clear" style="margin-bottom:10px;">Empty cart</a>

          <!-- price info left-side -->
          <div class="cart-price-info">

            <div>

              <!-- coupons -->
              {% for discount_application in cart.discount_applications %}
                <div class="coupons">
                  <span>Discount name:
                    {{ discount_application.title }}</span>
                  <span>Savings: -
                    {{ discount_application.total_allocated_amount | money }}</span>
                </div>
              {% endfor %}

              <!-- coupons end -->
              <h3>
                Total :
                {{ saving | plus: cart.original_total_price | money }}
              </h3>

              <!-- show if saving > 0 -->
              {% if saving > 0 %}
                <h3>
                  Saved :
                  {{ saving | money }}
                </h3>
              {% endif %}

              <!-- show Coupons if any -->
              {% if cart.total_discount > 0 %}
                <h3><
                  Coupons : -
                  {{ cart.total_discount | money }}
                </h3>
              {% endif %}

              <!-- free shipping -->
              {% assign shipping = settings.free_shipping_price_dk | times: 100.0 %}
              {% assign getFreeShipping = shipping | minus: cart.total_price %}
              <!-- render info for free shipping -->
              {% comment %} {% render "cart-free-shipping" getFreeShipping: getFreeShipping, shipping: shipping %} {% endcomment %}
              <br>

              <!-- <button name="update" type="submit">Update</button> -->
                <button
                class="cart-submit-btn"
                name="checkout"
                type="submit"> Checkout</button>
            </div>

            <!-- shipping-bar - right-side -->
            {% comment %} {% render "freeShippingBar" %} {% endcomment %}

          </div>
        </form>

      {% else %}
        <h2>cart</h2>
        Cart is empty
      {% endif %}
    </div>

  </div>
{% endcomment %}
